<div class="container-fluid">
  <h2>Add Rooms Details</h2>

  <div class="row form-group">
    <div class="col-lg-2">
      <label class="text-center">Room Number</label>
      <div class="text-center">{{roomNumber}}</div>
    </div>
    <div class="col-lg-3">
      <label>Select Wing</label>
      <select #wing class="form-control" (change)="onWingChange(wing.value)">
        <option value="{{wing.id}}" *ngFor="let wing of wings">{{wing.value}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <label>Select Floor</label>
      <select #floor class="form-control" (change)="onFloorChange(floor.value)">
        <option value="{{floor.id}}" *ngFor="let floor of floors">{{floor.value}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <label>Select Room</label>
      <select #room class="form-control" (change)="onRoomChange(room.value)">
        <option value="{{room.id}}" *ngFor="let room of rooms">{{room.value}}</option>
      </select>
    </div>
  </div>
  <div class="row form-group" *ngFor="let owner of owners;let i = index;trackBy:trackByFn">
    <div class="col-lg-2"><div *ngIf = "i === 0">Name of the owner</div></div>
    <div class="col-lg-8">
      <input [(ngModel)]="owners[i]" class="form-control" type="text" />
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-default btn-sm" (click)="addCoOwner()" *ngIf="i === owners.length-1">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      <button type="button" class="btn btn-default btn-sm" (click)="deleteCoOwner(i)" *ngIf="i !== owners.length-1">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</div>